---
- name: Install Ingress Controller (Fixed DNS & Registry)
  hosts: k8s_master
  become: yes
  tasks:
    # 0. ЧИНИМ DNS (Принудительно ставим 8.8.8.8, чтобы скачать файлы)
    - name: Fix DNS resolver temporarily
      shell: |
        echo "nameserver 8.8.8.8" > /etc/resolv.conf

    # 1. Скачиваем официальный манифест
    - name: Download Ingress Manifest
      get_url:
        url: https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.10.1/deploy/static/provider/baremetal/deploy.yaml
        dest: /tmp/ingress-deploy.yaml

    # 2. ЖЕСТКАЯ ЗАМЕНА РЕЕСТРОВ (Hack для обхода блокировок registry.k8s.io)
    - name: Replace Controller Image
      replace:
        path: /tmp/ingress-deploy.yaml
        regexp: 'registry.k8s.io/ingress-nginx/controller:v1.10.1.*'
        replace: 'docker.io/ingressnginx/controller:v1.10.1'

    - name: Replace Webhook Image
      replace:
        path: /tmp/ingress-deploy.yaml
        regexp: 'registry.k8s.io/ingress-nginx/kube-webhook-certgen:v1.4.1.*'
        replace: 'docker.io/jettech/kube-webhook-certgen:v1.5.2'

    # 3. Применяем исправленный манифест
    - name: Apply Ingress Manifest
      shell: |
        export KUBECONFIG=/etc/kubernetes/admin.conf
        kubectl delete -f /tmp/ingress-deploy.yaml --ignore-not-found=true
        kubectl apply -f /tmp/ingress-deploy.yaml

    - name: Wait for Ingress ready
      shell: |
        export KUBECONFIG=/etc/kubernetes/admin.conf
        kubectl wait --namespace ingress-nginx \
          --for=condition=ready pod \
          --selector=app.kubernetes.io/component=controller \
          --timeout=300s
      ignore_errors: yes
