---
- name: Install Ingress Controller (v1.8.2 from PDF)
  hosts: k8s_master
  become: yes
  tasks:
    # 0. DNS фикс (на всякий случай оставим)
    - name: Fix DNS resolver
      shell: echo "nameserver 8.8.8.8" > /etc/resolv.conf

    # 1. Скачиваем манифест v1.8.2
    - name: Download Ingress Manifest v1.8.2
      get_url:
        url: https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.8.2/deploy/static/provider/baremetal/deploy.yaml
        dest: /tmp/ingress-deploy.yaml

    # 2. Чистим старое
    - name: Cleanup old Ingress
      shell: |
        export KUBECONFIG=/etc/kubernetes/admin.conf
        kubectl delete namespace ingress-nginx --ignore-not-found=true --timeout=10s
        sleep 10
      ignore_errors: yes

    # 3. Применяем
    - name: Apply Ingress Manifest
      shell: |
        export KUBECONFIG=/etc/kubernetes/admin.conf
        # Удаляем ValidatingWebhookConfiguration (он все равно часто ломает всё на лабах)
        sed -i '/kind: ValidatingWebhookConfiguration/,/---/d' /tmp/ingress-deploy.yaml
        
        kubectl apply -f /tmp/ingress-deploy.yaml

    # 4. Ждем
    - name: Wait for Ingress ready
      shell: |
        export KUBECONFIG=/etc/kubernetes/admin.conf
        sleep 15
        kubectl wait --namespace ingress-nginx \
          --for=condition=ready pod \
          --selector=app.kubernetes.io/component=controller \
          --timeout=300s
      ignore_errors: yes
